---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="de">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col justify-between h-screen"></body>
    <Header />
    <main class="flex justify-center mx-auto p-4 w-full my-auto">
      <div class="flex flex-col">
        <h3 class="text-center font-bold">Diese Seite ist nur innerhalb des Uninetzwerks erreichbar.</h3>
        <i class="text-center">Zurück zur <a href="/">Startseite</a>.</i>
      </div>
      </main>
    <Footer />
  </body>
</html>
