---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="de">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex h-screen flex-col justify-between"></body><Header />
  <main class="mx-auto my-auto flex w-full justify-center p-4">
    <div class="flex flex-col">
      <h3 class="text-center font-bold">
        Diese Seite ist nur innerhalb des Uninetzwerks erreichbar.
      </h3>
      <i class="text-center">Zurück zur <a href="/">Startseite</a>.</i>
    </div>
  </main>
  <Footer />
</html>
